.text-center
  %h1.page_title.pb-2 Touryとは
  %h3.page_title Touryは旅行の思い出をシェアするWEBサービスです
  %h3.page_title 詳しい説明はこちら
.card.w-50.about-card
  %img.card-img-top{:alt => "Card image cap",:src => "assets/view.jpg",:width => "380px",:height => "auto"}/
  .card-body Some more card content
.card.w-50.about-card
  %img.card-img-top{:alt => "Card image cap",:src => "assets/sea.jpg",:width => "380px", :height => "auto"}/
  .card-body Some more card content
.card.w-50.about-card
  %img.card-img-top{:alt => "Card image cap",:src => "assets/travel.jpg",:width => "380px", :height => "auto"}/
  .card-body Some more card content
