.text-center
  %h1.page_title.pb-2 ようこそ！Touryへ！
  %h3.page_title Touryは旅行の思い出をシェアするWEBサービスです
  %h3.page_title 詳しい説明はこちら
  =link_to("Touryをもっと知る",about_path,class:"btn btn=secondary ")
  %br/
  =link_to("さっそく始める",new_user_registration_path,class:"btn btn=secondary mb-3")
#carouselFadeExampleIndicators.carousel.slide.text-center.w-52.carousel-fade{"data-ride" => "carousel"}
  .carousel-inner{:role => "listbox"}
    .carousel-item.active
      %img.d-block.w-100{:alt => "First slide", :src => "assets/temple.jpg", :width => "200px", :height => "380px"}/
    .carousel-item
      %img.d-block.w-100{:alt => "Second slide", :src => "assets/sun.jpg", :width => "200px", :height => "380px"}/
    .carousel-item
      %img.d-block.w-100{:alt => "Second slide", :src => "assets/travel2.jpg", :width => "200px", :height => "380px"}/
  %a.carousel-control-prev{"data-slide" => "prev", :href => "#carouselFadeExampleIndicators", :role => "button"}
    %span.carousel-control-prev-icon{"aria-hidden" => "true"}
    %span.sr-only Previous
  %a.carousel-control-next{"data-slide" => "next", :href => "#carouselFadeExampleIndicators", :role => "button"}
    %span.carousel-control-next-icon{"aria-hidden" => "true"}
    %span.sr-only Next
.text-center

