%h2.page_title.mb-5 検索フォーム
= search_form_for @q do |f|
  .form-group
    %h4.page_title.mb-3
      = f.label :ツアー名・または内容を入力してください 
    %h6.page_title.mb-3
      = f.search_field :tourname_cont,placeholder:"ツアー名・内容を入力",
        input_html: {class:"form-control"} 
    %h6.page_title
      = f.submit

