  // - if current_user.faved?(tour)
  //   = simple_form_for(@favorite) do |f|
  //   =hidden_field_tag :tour_id,@tour.id
  //     = f.button :submit, "お気に入り登録解除",
  //       input_html: { class:" btn btn-primary " } 
    
  // - else
  //   = form_for(current_user.favorites.build) do |f|
  //     =hidden_field_tag :tour_id,@tour.id
  //     = f.button :submit, "お気に入り登録登録",
  //       input_html: { class:" btn btn-primary " } 
                                                                                                                        