.card-body.my-1
  %h6.page_title コメントする
  = form_with(model: [tour, comment]) do |f|
    .form-inputs.form_group
      = f.text_area :comment_content,                       
        input_html: { autocomplete: "content",class:"form-control" } 
      =hidden_field_tag :tour_id,@tour.id
      = f.submit "コメントする",
        input_html: { class:"btn btn-primary mt-2" } 


    
