.card
  %h6.page_title 
    コメント一覧
  .card-body#comment_form
    -comments.each do |comment|
      .cmbox
        %h6.card-subtitle.mb-2.text-muted 
          #{comment.content}
        %p.card-subtitle.small.text-right
          #{comment.created_at.strftime('%m/%d-%H:%M')}
          =link_to("  #{comment.user.username}さん  ",user_path(comment.user.id))
          -if comment.user_id == current_user.id
            = link_to("  コメントを削除する",tour_comment_path(comment.tour_id,comment.id),class:"card-link",method: :delete,remote:true)