@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
body{
     background-image:url(travel3.jpg);
     background-size: cover;
     background-attachment: fixed;
.page_title{
    font-style: italic;
    text-align:center;
    margin-bottom:.5rem;
    margin-top:.5rem;
}
.white_box{
    background-color:#ffffffde;
    color: #495057;
    min-height:30rem;
    margin:7rem auto;
    border:white 1px solid;
    border-radius:1rem;
    padding:3rem;
    box-shadow: 1px 1px 1px 1px #f8f9fa26;
    opacity: 0.8;
}
.flash{
    background-color:gray;
    width:100%;
    color:white;
    opacity:0.7;
}
}

nav{
    background-color:white;
    border-bottom:1px gray solid;
.navbar-brand{
     color: #0b499d;
}
.nav-link{
    font-style: italic;
    margin-left:1rem;
    font-weight:bold;
    color: #6c757d;
}
.nav-link:hover{
    opacity:0.9;
    border-bottom:1px gray solid;    
}
.dropdown-toggle{
    margin: 0;
    margin-left: 2rem;
    margin-top: .2rem;
    background-color: gray;
     border:2px gray solid;
    opacity:0.7;
padding: 3px 10px;

}
}
.card{
    border:1px rgba(0,0,0,0.2) solid;
    box-shadow:2px 2px rgba(0,0,0,0.2);
    
}
.cmbox{
    padding:1rem;
     border-bottom:1px rgba(0,0,0,0.2) solid;  
}
.form_group{
    text-align:center;
    width:70%;
    margin:0 auto;
    padding-top:2rem;
label::after {
  content: "\A" ;
  white-space: pre;
}
}

abbr{
    display:none;
}
.follow_button{
        margin:1rem auto;
        padding:1% 45%;
       
}
.about-card{
    margin:2rem auto;
}
.under-line:hover{
    opacity:0.9;
    border-bottom:1px gray solid;    
}
.carousel-fade{
    margin:0 auto;
}
.favorite-btn{
    margin:0 auto;
    width:100%;
}
.user-box{
        padding:1rem;
     border:1px rgba(0,0,0,0.2) solid;
    box-shadow:2px 2px rgba(0,0,0,0.2);
}
dl.searchbox{
  width: 350px;
  position:relative;
  background-color:#fff;
  border:1px solid #aaa;
  border-radius:6px;
}
dl.searchbox dt{
  padding:3px;
}
dl.searchbox dt input{
  width:70%;
  height:30px;
  line-height:30px;
  background:none;
  border:none;
}
dl.searchbox dd{
  position:absolute;
  top:1px;
  right:1px;
  width:30%;
}
.search-btn{
  display:block;
  background:#5fad35;
  width:100%;
  height:36px;
  line-height:36px;
  border:none;
  border-radius: 0 6px 6px 0;
  color:#FFF;
}
.map-container {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 56.25%;
}

.map-canvas {
    position: absolute;
    top: 0;
    right: 40%;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
}
.map-route {
    overflow: scroll;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 54px;
    left: 60%;
    margin: 0;
    padding: 10px;
}

.map-search {
    position: absolute;
    height: 54px;
    right: 0;
    bottom: 0;
    left: 60%;
    margin: 0;
    padding: 10px;
}
.search-btn:hover {
  background:#228B22;
}
.like{
  text-decoration: none;
  color:red;
}
.dislike{
  text-decoration: none;
  color:gray;
}
.bd-box{
  border-bottom:1px grey solid;
  padding-bottom:1rem;
  margin-bottom:0.5rem;
}
.links{
    margin-left:1rem;
    font-weight:bold;
    color: #6c757d;
}
span {
            text-align: center;
            letter-spacing: 0.15em;
            font-size: 10px;
            color: #dcdcdc;
        }