!!!
%html
  =render("layouts/head")
  %body
    =render("layouts/header")
    =render("layouts/flash")
    .row
      .white_box.col-md-6
        = yield
    %script{:src => "//maps.google.com/maps/api/js?key=AIzaSyD0jaTXDQdQhqSD7L0cHbVmq6zptmxYulU"}
    %script{:src => "//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"}
    %script{:src => "//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js", :type => "text/javascript"}

    =render("layouts/footer")

